site_name: Aincrad
site_url: https://aincradot.github.io/platform
repo_url: https://github.com/aincradot/platform
edit_uri: edit/master/docs/
repo_name: Github

extra:
  social:
    - icon: fontawesome/brands/github-alt
      link: https://github.com/aincradot

theme:
  name: material
  language: en
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/lightbulb-auto
        name: Switch color scheme
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: teal
      accent: amber
      toggle:
        icon: material/lightbulb
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: teal
      accent: amber
      toggle:
        icon: material/lightbulb-outline
        name: Switch to system preference
  features:
    # Navigation / UX
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.indexes
    - navigation.top
    - navigation.footer
    - navigation.path
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.progress
    - navigation.tracking
    # Content quality-of-life
    - content.code.copy
    - content.code.annotate
    - content.tabs.link
    - content.tooltips
    - content.footnote.tooltips
    # Search / TOC
    - search.highlight
    - search.suggest
    - search.share
    - toc.follow
  icon:
    repo: fontawesome/brands/github-alt

plugins:
  - search
  - typeset

markdown_extensions:
  - abbr
  - attr_list
  - footnotes
  - md_in_html
  - tables
  - toc:
      permalink: true
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.betterem
  - pymdownx.caret
  - pymdownx.highlight:
      line_spans: __span
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde

nav:
  - Platform:
      - Overview: docs/index.md
      - Golden Path: docs/golden-path.md
      - Requirements: docs/requirements.md

  - Runbooks:
      - Bootstrap: platform/0-bootstrap/README.md

  - Architecture:
      - Overview: docs/architecture/index.md
      - Cloudflare: docs/architecture/cloudflare.md
      - Google Cloud: docs/architecture/gcp.md
      - GitHub Organisation: docs/architecture/github.md
      - Continuous Integration: docs/architecture/ci.md
      - State Management: docs/architecture/state-management.md
      - Disaster Recovery: docs/architecture/disaster-recovery.md
      - Cost Model: docs/architecture/cost-model.md

  - Contributing:
      - Overview: docs/contributing/index.md
      - Setup: docs/contributing/setup.md
      - Usage: docs/contributing/usage.md
      - Workflows: docs/contributing/workflows.md
      - Contributing Guide: docs/contributing/contributing.md
      - Documentation: docs/contributing/documentation.md
