#################################################################
# Default .gitignore content for all Terraform Modules
#################################################################

.DS_Store

# Local .terraform directories
**/.terraform/*

# Terraform lockfile
.terraform.lock.hcl

# .tfstate files
**/*.tfstate
**/*.tfstate.*

# Crash log files
crash.log

# Exclude all .tfvars files with real infrastructure values
# Only example.terraform.tfvars should be committed
terraform.tfvars
*.tfvars
!example.terraform.tfvars

# Exclude auto.tfvars files
*.auto.tfvars

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
*tfplan*

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Checkov
checkov-output
results.sarif

# Local test files
temp.sh

# Service account key files (should never be committed)
*-ci-key.json
*.json
!.github/*.json
!**/package.json
!**/package-lock.json

# ################################################################
# For Terraform Modules containing Python files
# ################################################################
## Uncomment the following lines for enabling Python formating
# # Python
# builds/
# *.egg-info/
# __pycache__/
# .tox
# .coverage
cloud/
.github/site/
docs/platform/
.cascade
